{% extends 'frontend/base.html' %}
{% load static %}

{% block body_block %}
<div class="hero-unit">
    <h1>{{ list_name }}</h1>
    <br />
    {% if list %}
    <ul>
        {% for item in list %}
        <li>
            <a href="{{ base_url }}/{{ item.url }}">{{ item.name }}</a>&nbsp;
            {% if item.url_edit %}<a href="{{ base_url }}/{{ item.url_edit }}">Edit</a>{% endif %}&nbsp;
            {% if item.url_delete %}<a href="{{ base_url }}/{{ item.url_delete }}">Delete</a>{% endif %}
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <strong>{{ empty_message }}</strong>
    {% endif %}
</div>
{% endblock %}
