{% extends 'frontend/base.html' %}
{% load static %}
{% load django_tables2 %}

{% block body_block %}
<div class="jumbotron">
    {% if multi_table %}

    <legend>
        <h2>{{page_name}}</h2>
    </legend>
    {% for table in tables %}
    <legend>
        <h2>{{table.name}}</h2>
    </legend>
    {% render_table table %}
    {% endfor %}

    {% else %}

    {% if add_name %}
    <a style="float:right" href="{{base_url}}{{add_url}}">
        <button class="btn btn-primary">Add New {{add_name}}</button>
    </a>
    {% endif %}
    <legend>
        <h2>{{table_name}}</h2>
    </legend>
    {% render_table table %}
    {% endif %}
</div>
{% endblock %}
