{% extends 'frontend/base.html' %}
{% load static %}

{% block body_block %}
<div class="hero-unit">
    <h2>{{list_name}}</h2>
    
    {% if list %}
    <ul>
        {% for item in list %}
        <li>
            <a href="{{base_url}}{{item.url}}">{{ item.name }}</a>&nbsp;
            {% if item.url_edit %}<a href="{{base_url}}{{item.url_edit}}"><i class="icon-edit"></i></a>&nbsp;{% endif %}
            {% if item.url_delete %}<a href="{{base_url}}{{item.url_delete}}"><i class="icon-remove"></i></a>{% endif %}
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <strong>{{ empty_message }}</strong>
    {% endif %}
</div>
{% endblock %}
