{% extends 'frontend/base.html' %}

{% block body_block %}
<div class="jumbotron">
    <h1>Welcome to the Frontend</h1>
    <p></p>

    <div class="container">
        <form class="form-signin col-md-4" id="login_form" method="post" action="/frontend/login/{{next_url}}">
            <h3 class="form-signin-heading">Please sign in</h3>
            {% csrf_token %}

            {% if bad_details %}
            <p><strong>Your username and/or password were incorrect!</strong></p>
            {% elif disabled_account %}
            <p><strong>Your account is currently disabled!</strong></p>
            {% endif %}

            Username: <input type="text" class="form-control" placeholder="Username" name="username" value="" size="50" />
            <br />
            Password: <input type="password" class="form-control" placeholder="Password" name="password" value="" size="50" />
            <br />
            <button class="btn btn-primary" type="submit">Sign in</button>
        </form>
    </div>
</div>
{% endblock %}
